<%- include('./partials/header.ejs') %>

<!-- Banner -->
<div style="height: 5px; background-color: #000D6B; width: 100%;"></div>
<section id="index-1">
  
    <div class="container-fluid cf-index1">
        <div class="row">
            
            <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="4000" style="padding:0%" >
              <div class="carousel-inner">

                <div class="carousel-item active" style="background-color: palegoldenrod;">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-md-6 col-6">
                        <img src="/images/doctor.png" alt="" class="carouselImage1 animate__animated animate__bounceInLeft">
                      </div>
                      <div class="col-md-6 col-6" style="padding-right: 5% ;">
                        <h1 class="carousel-h1 animate__animated animate__bounceInRight"><span style="color: #000D6B;">BIO MEDICAL</span> <br><span style="color: green;">EQUIPMENTS</span> <br><span style="color: #000D6B;">ALL IN</span> <br><span style="color: green;">ONE PLACE</span></h1>
                        <h3 class="carousel-h3 animate__animated animate__bounceInRight"><span class="subwords">24 X 7 SUPPORT</span></h3>
                      </div>
                    </div>
                  </div>
                  
                </div>

                <div class="carousel-item" style="background-color: rgb(168, 247, 168);">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-md-6 col-6">
                        <img src="/images/doctor2.png" alt="" class="carouselImage2 animate__animated animate__bounceInDown">
                      </div>
                      <div class="col-md-6 col-6" style="padding-right: 5% ;">
                        <h1 class="carousel-h1-1 animate__animated animate__bounceInUp"><span style="color: #000D6B;">&bull; Great Quality</span> <br><span style="color: green;">&bull; More Variants</span> <br><span style="color: #000D6B;">&bull; Easy PAY Options</span></h1>
                        <p style="font-weight: bold;" class=" animate__animated animate__bounceInUp">We offer great options in all aspects including price, brand, efficiency etc., with great quality and at the same time, affordable prices with easy EMI Options.</p>
                      </div>
                    </div>
                  </div>
                  
                </div>
                
                <div class="carousel-item" style="background-color: lightgray;">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-md-6 col-6">
                        <img src="/images/doctor.png" alt="" class="carouselImage1">
                      </div>
                      <div class="col-md-6 col-6" style="padding-right: 5% ;">
                        <h1 class="carousel-h1"><span style="color: #000D6B;">BIO MEDICAL</span> <br><span style="color: green;">EQUIPMENTS</span> <br><span style="color: #000D6B;">ALL IN</span> <br><span style="color: green;">ONE PLACE</span></h1>
                        <h3 class="carousel-h3">24 X 7 SUPPORT</h3>
                      </div>
                    </div>
                  </div>
                  
                </div> 
              
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
           
            
        </div>
    </div>
</section>
<div style="height: 5px; background-color: #81B214; width: 100%;"></div>


<!-- How It Works -->
<section id="index-2">
  <div class="container-fluid cf-index2 reveal">
    <div class="row">
     
      <div class="col-md-12">
        <h1 class="index-h1-os"><span>How It Works</span></h1>
        <div class="row hiw-row">
          <div class="col-md-3 col-xs-6">
            <h1><i class="bi bi-check-all hiw-icons"></i></h1>
            <h5 class="hiw-h5">Choose Products</h5>
          </div>
          <div class="col-md-3 col-xs-6">
            <h1><i class="bi bi-bag-check-fill hiw-icons"></i></h1>
            <h5 class="hiw-h5">Add</h5>
          </div>
          <div class="col-md-3 col-xs-6">
            <h1><i class="bi bi-credit-card-2-back-fill hiw-icons"></i></h1>
            <h5 class="hiw-h5">Do Payment</h5>
          </div>
          <div class="col-md-3 col-xs-6">
            <h1><i class="bi bi-box hiw-icons"></i></h1>
            <h5 class="hiw-h5">Get Delivered</h5>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        
      </div>
    
    </div>
  </div>
</section>


<!-- Products List -->
<section id="index-3" style="background-color: #F6F6F6;">
  <div class="container-fluid cf-index3 reveal1 animate__animated">
    <div class="row">
      <div class="col-md-12">
        <h2 class="products-index">CATEGORIES</h2>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 col-6 portfolio-item mr-btn-45">
        <figure>
          <a href="/category/homeCare"><img src="/images/category/homeCaree.jpg" class="img-fluid" alt="BioMedical Equipments"></a>
        </figure>
        <p class="product-tag">HOME CARE</p>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 col-6 portfolio-item mr-btn-45">
        <figure>
          <a href="/category/icuCriticalCare"><img src="/images/category/icuCare.jpg" class="img-fluid" alt="BioMedical Equipments"></a>
        </figure>
        <p class="product-tag">ICU/CRITICAL CARE</p>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 col-6 portfolio-item mr-btn-45">
        <figure>
          <a href="/category/OTEquipments"><img src="/images/category/27-ot-equipment.jpg" class="img-fluid" alt="BioMedical Equipments"></a>
        </figure>
        <p class="product-tag">OT EQUIPMENTS</p>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 col-6 portfolio-item mr-btn-45">
        <figure>
          <a href="/category/diagnosticImaging"><img src="/images/category/25-medical-imaging.jpg" class="img-fluid" alt="BioMedical Equipments"></a>
        </figure>
        <p class="product-tag">DIAGNOSTIC & IMAGING</p>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 col-6 portfolio-item mr-btn-45">
        <figure>
          <a href="/category/suppliesAccessories"><img src="/images/category/suppliesAccessories.jpg" class="img-fluid" alt="BioMedical Equipments"></a>
        </figure>
        <p class="product-tag">SUPPLIES & ACCESSORIES</p>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 col-6 portfolio-item mr-btn-45">
        <figure>
          <a href="/category/hospitalFurnitures"><img src="/images/category/1-hospital-medical-furniture.jpg" class="img-fluid" alt="BioMedical Equipments"></a>
        </figure>
        <p class="product-tag">HOSPITAL FURNITURE</p>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 col-6 portfolio-item mr-btn-45">
        <figure>
          <a href="/category/covid19"><img src="/images/category/covid19.png" class="img-fluid" alt="BioMedical Equipments"></a>
        </figure>
        <p class="product-tag">COVID PRODUCTS</p>
      </div>
      
    </div>
  </div>
</section>


<!-- Top products -->
<section id="index-3A">
  <div class="container-fluid cf-owlCarousel mx-auto">
    <div class="row my-5 mx-auto" style="margin-top:1rem !important; margin-bottom:1rem !important">
      <h1 style="font-family: 'Bebas Neue', cursive; color: #000D6B;">Top Selling Products</h1>
      <!-- <p class="fw-light w-75 mx-auto text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio dolorum rerum qui distinctio, esse quasi, obcaecati a facilis ipsa dolore aspernatur? Quaerat eligendi quisquam dignissimos natus. Dignissimos modi distinctio soluta?</p> -->
      <div class="row g-4 my-2  owl-carousel owl-theme" style="margin-top: 0% !important;">
        <% if (frontProducts) { %>

            <% frontProducts.forEach(product => { %>

              <% if (product.inDemand) { %>
            
                <div class="col product-item mx-auto">
                  <div class="product-img">
                    
                    <img src="<%= product.imagePath %>" alt="" class="img-fluid d-block mx-auto">
                    <!-- <span class="heart-icon"><i class="bi bi-heart"></i></span> -->
                    <!-- <div class="row btns w-100 mx-auto text-center">
                      <button type="button" class="col-6 py-2"><i class="bi bi-cart-plus"></i> Add</button>
                      <button type="button" class="col-6 py-2"><i class="bi bi-binoculars"></i> View</button>
                    </div> -->
                  </div>
                  <div class="product-info p-3">
                    <span class="product-type">Brand :<strong><%= product.brand %></strong></span>
                    <a href="/" class="d-block text-dark text-decoration-none py-2 product-name"><%=product.title%></a>
                    <span class="product-oprice">&#8377;<%= product.actualPrice %>/-</span><br>
                    <span class="product-dprice">&#8377;<%= product.discountPrice %>/-</span><br>
                    <button class="btn btn-sm btn-primary">Add to Cart</button>
                    <button class="btn btn-sm btn-warning">Explore</button>
                  </div>
                </div>
                
              <% } %>

            <% }) %>
        <% } else { %>
          <p>Products yet to be listed</p>
        <% } %>

        <!-- <div class="col product-item mx-auto">
          <div class="product-img">
            <img src="/images/items/hf1004.jpg" alt="" class="img-fluid d-block mx-auto">
            <span class="heart-icon"><i class="bi bi-heart"></i></span>
            <div class="row btns w-100 mx-auto text-center">
              <button type="button" class="col-6 py-2"><i class="bi bi-cart-plus"></i> Add</button>
              <button type="button" class="col-6 py-2"><i class="bi bi-binoculars"></i> View</button>
            </div>
          </div>
          <div class="product-info p-3">
            <span class="product-type">Electronics & Accessories</span>
            <a href="/" class="d-block text-dark text-decoration-none py-2 product-name">I C U Beds - Model hf1004</a>
            <span class="product-oprice">Rs. 38000</span><br>
            <span class="product-dprice">Rs. 21000</span><br>
            <button class="btn btn-sm btn-primary">Add to Cart</button>
            <button class="btn btn-sm btn-warning">Explore</button>
          </div>
        </div>

        <div class="col product-item mx-auto">
          <div class="product-img">
            <img src="/images/items/hf1004.jpg" alt="" class="img-fluid d-block mx-auto">
            <span class="heart-icon"><i class="bi bi-heart"></i></span>
            <div class="row btns w-100 mx-auto text-center">
              <button type="button" class="col-6 py-2"><i class="bi bi-cart-plus"></i> Add</button>
              <button type="button" class="col-6 py-2"><i class="bi bi-binoculars"></i> View</button>
            </div>
          </div>
          <div class="product-info p-3">
            <span class="product-type">Electronics & Accessories</span>
            <a href="/" class="d-block text-dark text-decoration-none py-2 product-name">I C U Beds - Model hf1004</a>
            <span class="product-oprice">Rs. 38000</span><br>
            <span class="product-dprice">Rs. 21000</span><br>
            <button class="btn btn-sm btn-primary">Add to Cart</button>
            <button class="btn btn-sm btn-warning">Explore</button>
          </div>
        </div>

        <div class="col product-item mx-auto">
          <div class="product-img">
            <img src="/images/items/hf1004.jpg" alt="" class="img-fluid d-block mx-auto">
            <span class="heart-icon"><i class="bi bi-heart"></i></span>
            <div class="row btns w-100 mx-auto text-center">
              <button type="button" class="col-6 py-2"><i class="bi bi-cart-plus"></i> Add</button>
              <button type="button" class="col-6 py-2"><i class="bi bi-binoculars"></i> View</button>
            </div>
          </div>
          <div class="product-info p-3">
            <span class="product-type">Electronics & Accessories</span>
            <a href="/" class="d-block text-dark text-decoration-none py-2 product-name">I C U Beds - Model hf1004</a>
            <span class="product-oprice">Rs. 38000</span><br>
            <span class="product-dprice">Rs. 21000</span><br>
            <button class="btn btn-sm btn-primary">Add to Cart</button>
            <button class="btn btn-sm btn-warning">Explore</button>
          </div>
        </div>

        <div class="col product-item mx-auto">
          <div class="product-img">
            <img src="/images/items/hf1004.jpg" alt="" class="img-fluid d-block mx-auto">
            <span class="heart-icon"><i class="bi bi-heart"></i></span>
            <div class="row btns w-100 mx-auto text-center">
              <button type="button" class="col-6 py-2"><i class="bi bi-cart-plus"></i> Add</button>
              <button type="button" class="col-6 py-2"><i class="bi bi-binoculars"></i> View</button>
            </div>
          </div>
          <div class="product-info p-3">
            <span class="product-type">Electronics & Accessories</span>
            <a href="/" class="d-block text-dark text-decoration-none py-2 product-name">I C U Beds - Model hf1004</a>
            <span class="product-oprice">Rs. 38000</span><br>
            <span class="product-dprice">Rs. 21000</span><br>
            <button class="btn btn-sm btn-primary">Add to Cart</button>
            <button class="btn btn-sm btn-warning">Explore</button>
          </div>
        </div>
   -->
      </div>
      
    </div>
  </div>

</section>

<!-- Small Banners -->
<div class="container-fluid cf-smallBanners">
  <div class="row">
    <div class="col-md-6 col-6">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3500">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/images/banners/smallBanner1.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/images/banners/smallBanner2.png" class="d-block w-100" alt="...">
          </div>
          <!-- <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
          </div> -->
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="col-md-6 col-6">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/images/banners/smallBanner2.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/images/banners/smallBanner1.png" class="d-block w-100" alt="...">
          </div>
          <!-- <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
          </div> -->
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- New products -->
<section id="index-3A">
  <div class="container-fluid cf-owlCarousel mx-auto">
    <div class="row my-5 mx-auto" style="margin-top:1rem !important; margin-bottom:1rem !important">
      <h1 style="font-family: 'Bebas Neue', cursive; color: #000D6B;">New Arrivals</h1>
      <!-- <p class="fw-light w-75 mx-auto text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio dolorum rerum qui distinctio, esse quasi, obcaecati a facilis ipsa dolore aspernatur? Quaerat eligendi quisquam dignissimos natus. Dignissimos modi distinctio soluta?</p> -->
      <div class="row g-4 my-2  owl-carousel owl-theme" style="margin-top: 0% !important;">
        
        <% if (frontProducts) { %>

          <% frontProducts.forEach(product => { %>

            <% if (product.newArrival) { %>
          
              <div class="col product-item mx-auto">
                <div class="product-img">
                  <img src="<%= product.imagePath %>" alt="" class="img-fluid d-block mx-auto">
                  <!-- <span class="heart-icon"><i class="bi bi-heart"></i></span> -->
                  <!-- <div class="row btns w-100 mx-auto text-center">
                    <button type="button" class="col-6 py-2"><i class="bi bi-cart-plus"></i> Add</button>
                    <button type="button" class="col-6 py-2"><i class="bi bi-binoculars"></i> View</button>
                  </div> -->
                </div>
                <div class="product-info p-3">
                  <span class="product-type">Brand :<strong><%= product.brand %></strong></span>
                  <a href="/" class="d-block text-dark text-decoration-none py-2 product-name">I C U Beds - Model hf1004</a>
                  <span class="product-oprice">&#8377;<%= product.actualPrice %>/-</span><br>
                  <span class="product-dprice">&#8377;<%= product.discountPrice %>/-</span><br>
                  <button class="btn btn-sm btn-primary">Add to Cart</button>
                  <button class="btn btn-sm btn-warning">Explore</button>
                </div>
              </div>
              
            <% } %>

          <% }) %>
      <% } else { %>
        <p>Products yet to be listed</p>
      <% } %>
  
      </div>
      
    </div>
  </div>

</section>

<!-- Testimonials -->
<section id="index-4">
  <div class="container-fluid cf-index4">
    <div class="row">
      <div class="col-md-12">
        <h2 class="index4-h2">WHAT OUR CLIENTS ARE SAYING</h2>
        <hr class="bottomLine">
        <div id="carouselExampleInterval" class="carousel slide carousel-div" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
              <h5>We at Moyeni Office Suppliers, Maseru Lesotho have received nothing but excellent Service from this company. They are always prompt with their quotations and will keep you posted with your order's progress.</h5>
              <p>- Leomile Nthabane</p>
            </div>
            <div class="carousel-item" data-bs-interval="10000">
              <h5>Came to know about Narang medical during medical exhibition in dubai. They have ample of ortho implants available with them. Their products are of top quality and with all important certification.can buy it very confident and you get a decent warranty and guarantee for your products.</h5>
              <p>- Paul JR</p>
            </div>
            
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Our Brands -->
<section id="index-5">
  <div class="container-fluid cf-brands">
    <div class="row">
      <div class="col-md-12">
        <h1 class="brands-h1">OUR BRANDS</h1>
      </div>
      <div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel"  data-interval="1000">
        <div class="MultiCarousel-inner">

         <div class="item">
            <div class="pad15" style="border-radius: 100%;">
                <a href=""><img src="/images/brands/1.png" alt="" ></a>
            </div>
            <p class="lead">NARANG</p>
          </div>

            <div class="item">
                <div class="pad15" style="border-radius: 100%;">
                   <a href=""><img src="/images/brands/2.png" alt="" ></a>
                </div>
                <p class="lead">PHILIPS</p>
            </div>

            <div class="item">
              <div class="pad15" style="border-radius: 100%;">
                <a href=""><img src="images/brands/3.png" alt="" ></a>
            </div>
            <p class="lead">GENERAL ELECTRIC</p>
            </div>

            <div class="item">
              <div class="pad15" style="border-radius: 100%;">
                  <a href=""><img src="/images/brands/4.jpg" alt="" ></a>
              </div>
              <p class="lead">EVOX</p>
            </div>
  
              <div class="item">
                  <div class="pad15" style="border-radius: 100%;">
                     <a href=""><img src="/images/brands/5.png" alt="" ></a>
                  </div>
                  <p class="lead">AKAS INFUSION</p>
              </div>
  
              <div class="item">
                <div class="pad15" style="border-radius: 100%;">
                  <a href=""><img src="images/brands/6.png" alt="" ></a>
              </div>
              <p class="lead">SATHYA</p>
              </div>

              <div class="item">
                <div class="pad15" style="border-radius: 100%;">
                   <a href=""><img src="/images/brands/7.png" alt="" ></a>
                </div>
                <p class="lead">SINGHSA</p>
            </div>

            <div class="item">
              <div class="pad15" style="border-radius: 100%;">
                <a href=""><img src="images/brands/8.png" alt="" ></a>
            </div>
            <p class="lead">BALAJI SURGICAL</p>
            </div>

            <div class="item">
              <div class="pad15" style="border-radius: 100%;">
                <a href=""><img src="images/brands/9.png" alt="" ></a>
            </div>
            <p class="lead">CISCO</p>
            </div>
            <div class="item">
              <div class="pad15" style="border-radius: 100%;">
                <a href=""><img src="images/brands/10.png" alt="" ></a>
            </div>
            <p class="lead">AMC</p>
            </div>
            <div class="item">
              <div class="pad15" style="border-radius: 100%;">
                <a href=""><img src="images/brands/11.png" alt="" ></a>
            </div>
            <p class="lead">AP SYSTEMS</p>
            </div>
            <div class="item">
              <div class="pad15" style="border-radius: 100%;">
                <a href=""><img src="images/brands/12.png" alt="" ></a>
            </div>
            <p class="lead">SURGIMILL</p>
            </div>
            <div class="item">
              <div class="pad15" style="border-radius: 100%;">
                <a href=""><img src="images/brands/13.png" alt="" ></a>
            </div>
            <p class="lead">SB HEALTHCARE</p>
            </div>
            <div class="item">
              <div class="pad15" style="border-radius: 100%;">
                <a href=""><img src="images/brands/14.png" alt="" ></a>
            </div>
            <p class="lead">TRIVITRON</p>
            </div>
            <div class="item">
              <div class="pad15" style="border-radius: 100%;">
                <a href=""><img src="images/brands/15.png" alt="" ></a>
            </div>
            <p class="lead">MED</p>
            </div>
            <div class="item">
              <div class="pad15" style="border-radius: 100%;">
                <a href=""><img src="images/brands/16.png" alt="" ></a>
            </div>
            <p class="lead">SRI BALAJI</p>
            </div>
            <div class="item">
              <div class="pad15" style="border-radius: 100%;">
                <a href=""><img src="images/brands/17.png" alt="" ></a>
            </div>
            <p class="lead">SHREE BALAJI</p>
            </div>
            <div class="item">
              <div class="pad15" style="border-radius: 100%;">
                <a href=""><img src="images/brands/18.png" alt="" ></a>
            </div>
            <p class="lead">H</p>
            </div>
            <div class="item">
              <div class="pad15" style="border-radius: 100%;">
                <a href=""><img src="images/brands/19.png" alt="" ></a>
            </div>
            <p class="lead">UNITED SCIENTIFIC</p>
            </div>
            <div class="item">
              <div class="pad15" style="border-radius: 100%;">
                <a href=""><img src="images/brands/20.png" alt="" ></a>
            </div>
            <p class="lead">STAAN</p>
            </div>
            <div class="item">
              <div class="pad15" style="border-radius: 100%;">
                <a href=""><img src="images/brands/21.png" alt="" ></a>
            </div>
            <p class="lead">TECHNOMAD</p>
            </div>
            <div class="item">
              <div class="pad15" style="border-radius: 100%;">
                <a href=""><img src="images/brands/22.png" alt="" ></a>
            </div>
            <p class="lead">VISHAL</p>
            </div>
            <div class="item">
              <div class="pad15" style="border-radius: 100%;">
                <a href=""><img src="images/brands/23.png" alt="" ></a>
            </div>
            <p class="lead">SIGMA HEALTHCARE</p>
            </div>
            <div class="item">
              <div class="pad15" style="border-radius: 100%;">
                <a href=""><img src="images/brands/24.png" alt="" ></a>
            </div>
            <p class="lead">SOLOKRAFTS</p>
            </div>
            <div class="item">
              <div class="pad15" style="border-radius: 100%;">
                <a href=""><img src="images/brands/25.png" alt="" ></a>
            </div>
            <p class="lead">DE-PEST</p>
            </div>

            
        </div>
        <button class="btn btn-primary leftLst"><</button>
        <button class="btn btn-primary rightLst">></button>
    </div>
  </div>
  </div>
</section>

<!-- <section id="index-6">
  <div class="container-fluid" style="padding: 2% 7% !important;">
    <div class="row">
      <div class="col-md-4">
        <div class="container">
          <img src="/images/category/26-icu-equipment.jpg" alt="Avatar" class="image">
          <div class="overlay">
            <div class="text">ICU Equipment</div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="container">
          <img src="/images/category/26-icu-equipment.jpg" alt="Avatar" class="image">
          <div class="overlay">
            <div class="text">ICU Equipment</div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="container">
          <img src="/images/category/26-icu-equipment.jpg" alt="Avatar" class="image">
          <div class="overlay">
            <div class="text">ICU Equipment</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->


<%- include('./partials/footer.ejs') %>

<script type="text/javascript">

window.addEventListener('scroll', reveal);

function reveal(){
   var reveals = document.querySelectorAll('.reveal');

   for(var i = 0; i < reveals.length; i++){
     var windowHeight = window.innerHeight;
     var revealTop = reveals[i].getBoundingClientRect().top;
     var revealpoint = 75;

     if(revealTop <  windowHeight - revealTop ){
       reveals[i].classList.add('active');
     }
     else{
      reveals[i].classList.remove('active');
     }
   }
}

window.addEventListener('scroll', reveal1);

function reveal1(){
   var reveals = document.querySelectorAll('.reveal1');

   for(var i = 0; i < reveals.length; i++){
     var windowHeight = window.innerHeight;
     var revealTop = reveals[i].getBoundingClientRect().top;
     var revealpoint = 75;

     if(revealTop <  windowHeight - revealTop ){
       reveals[i].classList.add('active');
       reveals[i].classList.add('animate__flipInX');
     }
     else{
      reveals[i].classList.remove('active');
      reveals[i].classList.remove('animate__flipInX');
     }
   }
}

</script>
